#row1 {
    background-color: lightgreen;
}

#blue {
    background-color: lightskyblue;
    font-weight: bold;
}

#red {
    background-color: lightcoral;
}

#yellow {
    background-color: lightyellow;
}